@mixin wrapper()
    max-width: 70rem
    margin-right: auto
    margin-left: auto
    margin-bottom: 50px
    padding: 1.25rem

@mixin navPath()
    color: #635c81
    margin-bottom: 50px

@mixin  blockHeader()
    font-size: 1.4rem
    font-weight: 700
    margin-bottom: 20px
    background: #003A63
    color: #fff
    & > div
        padding: 1rem 1rem
        display: flex
        align-items: center
        & > svg
            margin-right: 10px

@mixin contact()
    padding: 1.25rem
    & > .map
        background-color: #fff
        display: flex
        border-left: 0.625rem solid #E51937
        & > .googleMap
            max-width: 600px
            opacity: 1
            padding: 20px
        & > .info
            margin:20px
            & > .infoHeader
                font-size: 1.1rem
                font-weight: 700
                color: #002A47
                margin-bottom: 10px
            & > .infoContext
                font-size: 0.9rem
        @media screen and (max-width: 690px)
            flex-direction: column
            background-color: #F2F2F2
            border-left: 0
            & > .googleMap
                max-width: 350px
            & > .info
                margin: 0

.wrapper
    @include wrapper()
    .navPath
        @include navPath()
    .blockHeader
        @include blockHeader()
    .contact
        @include contact()
