@mixin wrapper()
    max-width: 70rem
    margin-right: auto
    margin-left: auto
    padding: 1.25rem
    & > h2
        font-size: 1.5rem
        font-weight: 700
        margin-top: 20px
        color: #003a63


@mixin researchContent()
    padding: 2rem 0 2rem 0rem
    @media screen and (max-width: 890px)
        padding: 1rem 0rem 1rem 0rem
    & > .blockHeader
        display: flex
        font-size: 1.4rem
        font-weight: 700
        margin-bottom: 20px
        background: #003A63
        color: #fff
        justify-content: space-between
        & > div
            padding: 1rem 1rem
        & > .more
            background: rgba(0, 0, 0, 0.2)
            height: 100%
            font-size: 1.2rem
            display: flex
            justify-content: center
            align-items: flex-end
            & > .narrow
                margin-left: 10px
                border-radius: 50%
                width: 25px
                height: 25px
                color: #000
                background: #fff
                display: flex
                justify-content: center
                align-items: center
        @media screen and (max-width: 690px)
            flex-direction: column


@mixin navPath()
    color: #635c81
    margin-bottom: 50px

@mixin header()
    font-size: 1.5rem
    line-height: 1.5
    // color: #2A6EBB
    margin-bottom: 30px

.wrapper
    @include wrapper()
    .navPath
        @include navPath()
    .researchContent
        @include researchContent()
        .header
            @include header()
